@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
    background-image: url(http://www.transparenttextures.com/patterns/food.png);
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

span {
    font-family: 'Dancing Script', cursive;
}

div {
    width: fit-content;
    margin: auto;
}

form input[type="text"] {
    width: 500px;
    margin-right: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.flex-container > div[class="card"] {
    margin-right: 10px;
    height: 400px;
    width: 400px;
}

div[class="card-header"] {
    font-weight: bold;
}