{% extends 'base.html' %}

{% block head %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div>
    <h2>Foodversity</h2>
    <form action="/login" method="POST">
        <!-- User enters their username here -->
        <label for="username"><strong>Username: </strong></label><input type="text" name="username" id="username">
        <br>
        <!-- User enters their password here -->
        <label for="password"><strong>Password: </strong></label><input type="password" name="password" id="password">
        <br>
        <!-- Upon pressing this, the user either enters the site or  -->
        <input type="submit" value="Log in" class="btn btn-primary">
    </form>
    <br>
    <a href="/signup">No account? Register here</a>
</div>
{% endblock %}