{% extends 'base.html' %}
{% block head %}
<!-- BootStrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/single_recipe.css') }}">
{% endblock %}
{% block body %}
<h1>The Selected Recipe</h1>
<div class="flex-container">
    <div class="card">
        <div class="card-header">{{ recipe.title }}</div>
        <img class="card-img-top" src="{{ recipe.image }}" alt="recipe image">
        <div class="card-body">
            <p class="card-text"><strong>Ready in minutes:</strong> {{ recipe.readyInMinutes }}mins</p>
            <h4 class="card-title">Ingredients</h4>
             <!-- If recipe exists, it's shown. Otherwise, users are informed of no data in the API (defensive coding) -->
            {% if ingredients and ingredient != "" %}
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.name }} ({{ (ingredient.amount.metric.value) }}{{ingredient.amount.metric.unit}})</li>
                {% endfor %} 
            </ul>
            {% else %}
                <h5 class="api-error">API does not provide ingredients.</h5>
            {% endif %}
            <h4 class="card-title">Instructions</h4>
            <!-- If recipe exists, it's shown. Otherwise, users are informed of no data in the API (defensive coding) -->
            {% if recipe.instructions and  recipe.instructions != "" %}
                <p class="card-text">{{ recipe.instructions }}</p>
            {% else %}
                <h5 class="api-error">API does not provide recipe instructions.</h5>
            {% endif %}
        </div>
        <div class="card-footer">
            <form action="/save/{{ user_id }}" method="POST">
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                <input type="hidden" name="recipe_title" value="{{ recipe.title }}">
                <input type="hidden" name="recipe_image" value="{{ recipe.image }}">
                <input type="hidden" name="recipe_ready_in_mins" value="{{ recipe.readyInMinutes }}">
                <input type="hidden" name="recipe_gluten_free" value="{{ recipe.glutenFree }}">
                <input type="hidden" name="recipe_dairy_free" value="{{ recipe.dairyFree }}">
                <input type="hidden" name="recipe_vegan" value="{{ recipe.vegan }}">
                <input type="submit" value="Save Recipe">
            </form>
            <form action="/profile/{{ user_id }}" method="GET">
                <input type="submit" value="Return Home">
            </form>
        </div>
    </div>
</div>
{% endblock %}